Source: openbox-menu
Section: x11
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper-compat (= 12), libgtk2.0-dev, libmenu-cache-dev (>= 0.7), libglib2.0-dev
Standards-Version: 4.0.1
Homepage: https://bitbucket.org/fabriceT/openbox-menu
Vcs-Browser: https://github.com/mati75/openbox-menu.git
Vcs-Git: https://github.com/mati75/openbox-menu.git

Package: openbox-menu
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, openbox, lxmenu-data | gnome-menus | libgarcon-common
Description: openbox pipe-menu to display entries in *.desktop files
 openbox-menu is a pipemenu for the openbox window manager. It provides
 a dynamic menu listing of installed applications. Most of the work is
 done by the LXDE library menu-cache.
