#!/usr/bin/make -f
export DEB_BUILD_OPTIONS=nocheck

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)

%:
	dh  $@

override_dh_auto_install:
	$(MAKE) install BINDIR=$(CURDIR)/debian/openbox-menu/usr/bin

override_dh_installman:
	dh_installman
